:root{
    --magnolia:#F4EDF7;
    --amethyst: #A06CD5;
    --royalPurple: #A06CD5;
    --prusianBlue: #102B3F;
    --gunmetal: #082730;
}

body{
    background-color: var(--magnolia);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0;
}
/*Get rid of gap between all elements (without it there is
a gap between header and section*/
* { margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--gunmetal);
    margin: 0%;
}
#logo{
    color: var(--gunmetal);
    font-size: 1.5rem;
    background-color: var(--royalPurple);
    margin-left: -2rem;
    padding-left: 2rem;
    padding-right: 1rem;
    height: 4rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    transition: all 0.5s ease-in-out;
}
nav{
    display: flex;
    justify-content: space-between;

    transition: all 0.5s ease-in-out;
}
nav a{
    color: var(--amethyst);
    text-decoration: none;
    margin-left: 1rem;
    padding: 0.5rem;
    border: #F4EDF7 solid 1px;
    white-space: nowrap;
}

#hero{
    height: 200px;
    background-color: var(--royalPurple);
    background-image: url('../images/gradient.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Center the image */
    height: 12rem;
    position: relative;
}

#headline{
display: inline;
  background-color: var(--magnolia);
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  padding: 25px;
  z-index: 1;
  border-radius: 0.75rem;
}
main{
    padding: 1rem 2rem;
}

.row{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 5rem;

    transition: all 0.5s ease-in-out;
    
}
.rowParagraph{
    align-self: center;
    flex:1;
}

#workGrid{
    /* width:80%; */
    flex:1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "firstProject firstProject"
    "secondaryGrid secondaryGrid";
    row-gap: 1rem;
}

#firstProject{
    grid-area: firstProject;
    background-image: url(../images/img1.jpg);
}

#secondaryGrid{
    grid-area: secondaryGrid;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "secondProject thirdProject"
    "fourthProject fifthProject";
    row-gap: 1rem;
    column-gap: 1rem;
}
#secondProject{
    grid-area: secondProject;
    background-image: url(../images/img2.jpg);
}

#thirdProject{
    grid-area: thirdProject;
    background-image: url(../images/img3.jpg);
}

#fourthProject{
    grid-area: fourthProject;
    background-image: url(../images/img4.jpg);
}

#fifthProject{
    grid-area: fifthProject;
    background-image: url(../images/img5.jpg);
}

.card{
    min-height: min(15vw,300px);
    border: #082730 solid 1px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Center the image */
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.cardTitle{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    padding-right: 2rem;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 12px 12px 0;
}
.card h3{
    font-size: 1.5rem;
    color: var(--prusianBlue);
    line-height: 150%;
}
.cardSubtitle{
    color: var(--royalPurple);
    flex:0;
    font-size: 1rem;
    line-height: 120%;
}
.title{
    text-align: end;
    color: var(--prusianBlue);
    font-size: 1.5rem;
    border-right: var(--prusianBlue) solid 1px ;
    padding: 1rem;
    white-space: nowrap;
    display: inline-block;
    width: 20%;
    justify-content: center;
    margin-right: 1rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gunmetal);
    color: var(--magnolia);
    font-size: 0.8rem;
    padding: 1rem;
}
/*BREAKPOINTS*/
/* Breakpoints*/
/* @media only screen and (max-width:1023){
    header{
      display:flex;
      flex-direction: column;
      background-color: red;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1rem ;
    }
    nav a{
        padding: 1rem 1rem;
    }
    
  } */
  @media only screen and (max-width:1023px){
    header{
        display:flex;
        flex-direction: column;
      }
      #logo{
        padding: 0;
        margin: 0;
        width: 100%;
      }
      nav{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-top: 1rem ;
      }
      nav a{
          padding: 1rem 1rem;
      }
      .row{
       display: flex;
       flex-direction: column;
      }
      .title{
        color: var(--prusianBlue);
        font-size: 1.5rem;
        border-right:none;
        border-bottom: var(--prusianBlue) solid 1px ;
        padding: 1rem;
        white-space: nowrap;
        display: inline-block;
        width: 10rem;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .row p{
        width: 100%;
    }
   }
  @media only screen and (max-width:767px){
   header{
   display: flex;
   flex-direction: column;
   }

    #logo h1{

        justify-content: center;

    }

    nav a{
        margin: auto;
    }

    .row{
        display: flex;
        flex-direction: column;
       }
    
       #secondaryGrid{
        display: flex;
        flex-direction: column;
       }
  }